
/* Main Body */
.bio{
    margin-top: 7vh;
    padding-left: 20vw;
padding-right: 20vw;
}

/* Card */
.card {
    margin: 10vh 10vw;

  }
<<<<<<< HEAD
=======

>>>>>>> c85d2d9e511364bca27dc94898b9d78be831f9c3
