.beyond-future, .beyond-future * { box-sizing: border-box; }.beyond-future {
      background: #ffffff;
      width: 1440px; height: 1024px;
      position: relative;
      overflow: hidden;
    }
 .footer {
      background: var(--gray-50, #f9fafb);
      padding: 80px 112px 80px 112px;
      display: flex;
      flex-direction: column;
      gap: 80px;
      align-items: center;
      justify-content: flex-start;
      width: 1440px;
      position: absolute; left: 0px;top: 755px;
    }
 .content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
    }
 .div {
      background: var(--gray-300, #d2d5da);
      flex-shrink: 0;
      width: 1216px; height: 1px;
      position: relative;
    }
 .links {
      display: flex;
      flex-direction: row;
      gap: 224px;
      align-items: center;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
    }
 .logo {
      flex-shrink: 0;
      position: relative;
      overflow: visible;
    }
 .menu {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
    }
 .item-link {
      padding: 4px 4px 4px 4px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
    }
 .text {
      color: var(--gray-900, #111827);
      text-align: left;
      font: var(--text-sm-font-semibold, 600 14px/130% 'Inter', sans-serif);
      position: relative;
      display: flex;
align-items: center;justify-content: flex-start
    }
 .text2 {
      color: var(--gray-600, #4b5563);
      text-align: left;
      font: var(--text-sm-font-semibold, 600 14px/130% 'Inter', sans-serif);
      position: relative;
      display: flex;
align-items: center;justify-content: flex-start
    }
 .icons {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: flex-start;
      justify-content: center;
    flex-shrink: 0;
      position: relative;
    }
 .iconsdribbble {
      border-radius: 4px;
      padding: 12px 12px 12px 12px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
    }
 .iconsdribbble2 {
      flex-shrink: 0;
      position: relative;
      overflow: visible;
    }
 .iconsinstagram {
      border-radius: 4px;
      padding: 12px 12px 12px 12px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
    }
 .iconsinstagram2 {
      flex-shrink: 0;
      position: relative;
      overflow: visible;
    }
 .iconslinkedin {
      border-radius: 4px;
      padding: 12px 12px 12px 12px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    flex-shrink: 0;
      position: relative;
    }
 .iconslinkedin2 {
      flex-shrink: 0;
      width: 20px; height: 20px;
      position: relative;
    }
 .linkedin-icon {
      width: 18.33px; height: 17.35px;
      position: static;
    }
 .group {
      position: absolute; left: 0.83px;top: 1.25px;
      transform: translate(0px, 0px);
      overflow: visible;
    }
 .group2 {
      position: absolute; left: 7.6px;top: 6.24px;
      transform: translate(0px, 0px);
      overflow: visible;
    }
 .--2022-bonnie-hong--all-rights-reserved- {
      color: var(--gray-500, #6d7280);
      text-align: left;
      font: var(--text-xs-font-semibold, 600 12px/130% 'Inter', sans-serif);
      position: relative;
      display: flex;
align-items: center;justify-content: flex-start
    }
 .navbar {
      width: 1448px; height: 87px;
      position: absolute; left: 0px;top: 0px;
    }
 .group-3 {
      width: 527px; height: 87px;
      position: static;
    }
 .earth {
      color: var(--gray-600, #4b5563);
      text-align: center;
      font: var(--text-sm-font-semibold, 600 14px/130% 'Inter', sans-serif);
      position: absolute; left: 850px;top: 0px;
      width: 103.11px; height: 87px;
      display: flex;
align-items: center;justify-content: center
    }
 .mars {
      color: var(--gray-600, #4b5563);
      text-align: center;
      font: var(--text-sm-font-semibold, 600 14px/130% 'Inter', sans-serif);
      position: absolute; left: 1005.48px;top: 0px;
      width: 78.56px; height: 87px;
      display: flex;
align-items: center;justify-content: center
    }
 .beyond {
      color: var(--gray-600, #4b5563);
      text-align: center;
      font: var(--text-sm-font-semibold, 600 14px/130% 'Inter', sans-serif);
      position: absolute; left: 1136.41px;top: 0px;
      width: 98.2px; height: 87px;
      display: flex;
align-items: center;justify-content: center
    }
 .more-info {
      color: var(--gray-600, #4b5563);
      text-align: center;
      font: var(--text-sm-font-semibold, 600 14px/130% 'Inter', sans-serif);
      position: absolute; left: 1286.98px;top: 0px;
      width: 90.02px; height: 87px;
      display: flex;
align-items: center;justify-content: center
    }
 .group-4 {
      width: 194.01px; height: 87px;
      position: static;
    }
 .text3 {
      color: var(--gray-900, #111827);
      text-align: center;
      font: var(--text-sm-font-semibold, 600 14px/130% 'Inter', sans-serif);
      position: absolute; left: 72px;top: 0px;
      width: 147.01px; height: 87px;
      display: flex;
align-items: center;justify-content: center
    }
 .logo2 {
      position: absolute; left: 25px;top: 31px;
      overflow: visible;
    }
 .future {
      color: #060606;
      text-align: center;
      font: 700 64px/140% 'Inter', sans-serif;
      position: absolute; left: 503px;top: 87px;
      display: flex;
align-items: center;justify-content: center
    }
 .dragonfly-landing-1 {
      width: 280px; height: 245px;
      position: absolute; left: 219px;top: 328px;
    }
 .title {
      color: #000000;
      text-align: center;
      font: 700 64px/140% 'Inter', sans-serif;
      position: absolute; left: 156px;top: 193px;
      width: 405px; height: 135px;
      display: flex;
align-items: center;justify-content: center
    }
 .dragonfly {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
      width: 279px; height: 158px;
      position: absolute; left: 219px;top: 585px;
      overflow: hidden;
    }
 .scrolling-frame {
  border-style: solid; 
  border-color: #000000;
  border-width: 1px;
      flex-shrink: 0;
      width: 279px; height: 158px;
      position: relative;
      box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }
 .info {
      color: #000000;
      text-align: left;
      font: 600 14px/130% 'Inter', sans-serif;
      position: absolute; left: 21px;top: 18px;
      width: 230px; height: 423px;
    }
 .europalander {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
      width: 279px; height: 158px;
      position: absolute; left: 956px;top: 585px;
      overflow: hidden;
    }
 ._300px-pia21048_-_europa_lander_mission_concept_-artist-s_rendering--_figure_1-1 {
      width: 280px; height: 245px;
      position: absolute; left: 956px;top: 328px;
    }
 .title2 {
      color: #000000;
      text-align: center;
      font: 700 64px/140% 'Inter', sans-serif;
      position: absolute; left: 896px;top: 193px;
      width: 400px; height: 112px;
      display: flex;
align-items: center;justify-content: center
    }
